body {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

h1, h3, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

header, section, main {
  text-align: center; }

h3, a {
  text-transform: uppercase; }

#skills-list {
  margin-bottom: 0; }

* {
  box-sizing: border-box;
  background-color: #f5f5f5; }

body {
  color: #2b2b2b;
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0 4%; }
  @media (min-width: 1024px) {
    body {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 2%; } }

ul {
  list-style: none;
  padding: 0; }

@media (min-width: 768px) {
  li {
    margin-bottom: 5px; } }

h3 {
  margin: 60px 0; }

a {
  display: block;
  color: #696969;
  text-decoration: none;
  padding: 12px 0;
  border-radius: 4px;
  transition: all .3s ease-in-out; }
  a:hover {
    background-color: #e67670;
    color: #f5f5f5; }
  a:active {
    background-color: #ea8b86;
    transform: scale(0.9); }
  @media (min-width: 768px) {
    a {
      padding: 12px 20px; } }

img {
  max-width: 100%;
  border-radius: 4px; }

p {
  color: #696969;
  font-size: 1.2rem;
  margin: 0; }
  @media (min-width: 768px) {
    p {
      font-size: 1.35rem; } }
  @media (min-width: 1024px) {
    p {
      font-size: 1.2rem; } }

hr {
  opacity: 0.4; }

@media (min-width: 768px) {
  header {
    padding-top: 25px; } }
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 25px; }
    header > h1 {
      font-size: 1.7rem; } }

@media (min-width: 768px) {
  .nav-links-header {
    display: flex;
    justify-content: center;
    margin-bottom: 25px; } }
@media (min-width: 1024px) {
  .nav-links-header {
    margin: 0; }
    .nav-links-header li {
      margin-bottom: 0; }
      .nav-links-header li a {
        font-size: 0.85rem; } }

section {
  padding-bottom: 50px; }

figure {
  margin: 0; }

#profile > p {
  margin-top: 20px; }

.description {
  padding-bottom: 40px; }

#skills-list {
  margin-top: 20px; }
  #skills-list li {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #696969;
    margin-right: 5px; }

#message {
  padding-bottom: 20px; }

.contact-info {
  margin: 25px 0; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0; }
  @media (min-width: 768px) {
    footer {
      margin: 0 0 50px; }
      footer > a {
        display: none; }
      footer > p {
        font-size: 1.05rem; } }

#nav-footer {
  display: none; }
  @media (min-width: 768px) {
    #nav-footer {
      display: block; } }

@media (min-width: 768px) {
  .nav-links-footer {
    display: flex;
    margin: 0; }
    .nav-links-footer li {
      margin-bottom: 0; }
      .nav-links-footer li a {
        font-size: 0.85rem; } }

#back-to-top {
  padding: 12px 4px; }

@media (min-width: 768px) {
  #profile {
    display: flex; }

  #profile > p {
    margin-top: 0; }

  .profile-image {
    order: 2;
    width: 40%;
    height: 40%;
    margin: 0 0 0 20px;
    padding: 0; }

  #profile p {
    text-align: left; }

  #portfolio-examples {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; }

  .portfolio-block {
    width: 49%;
    height: auto; }

  .description {
    font-size: 1.05rem;
    padding-left: 2%;
    padding-right: 2%; }

  #message {
    padding: 0 100px; }

  #skills-group {
    display: flex; }

  .skills-image {
    width: 40%;
    height: 40%;
    margin: 0 20px 0 0;
    padding: 0; }

  #skills-list {
    margin-top: 0; }

  #skills-list li {
    font-size: 1.35rem; } }
@media (min-width: 1024px) {
  .profile-image,
  .skills-image {
    width: 45%;
    height: 45%; }

  .portfolio-block {
    width: 32%;
    height: auto; }

  #message {
    padding: 0 200px; }

  #skills-list {
    padding: 0 30px; }

  #skills-list li {
    font-size: 1.2rem; } }

/*# sourceMappingURL=application.css.map */
