/* ================================
    Footer Styles
   ================================ */

/* ----------- Footer ---------- */

footer {
  @include display-flex(space-between, center);
  margin: 25px 0;
  @include tablet {
    margin: 0 0 50px;
    & > a {
      display: none;
    }
    & > p {
      font-size: $small;
    }
  }
}



/* --------- Navigation -------- */

#nav-footer {
  display: none;
  @include tablet {
    display: block;
  }
}

.nav-links-footer {
  @include tablet {
    @include display-flex();
    margin: 0;
    li {
      margin-bottom: 0;
      a {
        font-size: $xx-small;
      }
    }
  }
}

#back-to-top {
  padding: 12px 4px;
}



/* ================================
    Media Queries
   ================================ */

@media (min-width: 768px) {
  
  
  /* ---------- Profile ---------- */
  
  #profile {
    @include display-flex();
  }
  
  #profile > p {
    margin-top: 0;
  }
  
  .profile-image {
    order: 2;
    @include image-container(40%, 40%, 0 0 0 20px);
  }
  
  #profile p {
    text-align: left;
  }
  
  
  /* --------- Portfolio --------- */
  
  #portfolio-examples {
    @include display-flex(space-between);
    flex-flow: row wrap;
  }
  
  .portfolio-block {
    @include dimensions(49%);
  }
  
  .description {
    font-size: $small;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  
  /* ------ Skills / Contact ----- */
  
  #message {
    padding: 0 100px;
  }
  
  #skills-group {
    @include display-flex();
  }
  
  .skills-image {
    @include image-container(40%, 40%, 0 20px 0 0);
  }
  
  #skills-list {
    margin-top: 0;
  }
  
  #skills-list li {
    font-size: $larger;
  }
  
}

@media (min-width: 1024px) {
  
  /* ---------- Profile ---------- */
  
  .profile-image,
  .skills-image {
    @include dimensions(45%, 45%);
  }
  
  
  /* --------- Portfolio --------- */
  
  .portfolio-block {
    @include dimensions(32%);
  }
  
  
  /* ------ Skills / Contact ----- */
  
  #message {
    padding: 0 200px;
  }
  
  #skills-list {
    padding: 0 30px;
  }
  
  #skills-list li {
    font-size: $medium;
  }
}

