//============================================================
// Base Layout Styles
//============================================================

//------- Layout Containers -------

section {
  @extend %text-center;
  padding-bottom: 50px;
}

main {
  @extend %text-center;
}

figure {
  margin: 0;
}


//--------- Page Elements ---------

#profile {
  > p {
    margin-top: 20px;
  }
}

.description {
  padding-bottom: 40px;
}

#skills-list {
  @extend %mb-0;
  margin-top: 20px;
    li {
    display: inline-block;
    font-size: $medium;
    font-weight: 500;
    color: $color-text-light;
    margin-right: 5px;
  }
}

#message {
  padding-bottom: 20px;
}

.contact-info {
  margin: 25px 0;
}
