/* ================================
    Base Element Styles
   ================================ */
* {
  box-sizing: border-box;
  background-color: $color-background;
}

body {
  @extend %primary-font;
  color: $color-text-dark;
  font-size: $x-small;
  line-height: 1.5;
  margin: 0 4%;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  @extend %secondary-font;
}

h3 {
  @extend %secondary-font;
  @extend %text-upper;
  margin: 60px 0;
}

a {
  @extend %secondary-font;
  @extend %text-upper;
  display: block;
  color: $color-text-light;
  text-decoration: none;
  padding: 12px 0;
  border-radius: $br;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: $color-link-hover;
    color: $color-link-active;
  }
  &:active {
    background-color: lighten($color-link-hover, 5%);
    transform: scale(0.9);
  }
}

img {
  max-width: 100%;
  border-radius: $br;
}

p {
  color: $color-text-light;
  font-size: $medium;
  margin: 0;
}

hr {
  opacity: 0.4;
}


